.body{
     font-family: "Inter", sans-serif;
}
.navbar{
    background: rgb(4, 117, 38);
}
.banner{
    background: rgba(207, 240, 220, 1);
}
.main-class{
    background: rgb(240, 248, 255);
}

/* .active-btn {
    background-color: #16a34a !important;
    color: white !important;
}
.active-btn i, .active-btn span {
    color: white !important;
} */

.active-btn {
    background-color: #dcfce7 !important; /* Tailwind green-100 */
    border-color: #16a34a !important;     /* Tailwind green-600 */
    color: #16a34a;
}

.about-cam-p{
    color: var(--Neutral/Dark, rgba(31, 41, 55, 1));
    opacity: 0.8;

}

.impact{
    background: rgba(220, 252, 231, 1);
}
