.body{
     font-family: "Inter", sans-serif;
}
.navbar{
    background: rgb(4, 117, 38);
}
.banner{
    background: rgba(207, 240, 220, 1);
}
.main-class{
    background: rgb(240, 248, 255);
}

.active-btn {
    background-color: #16a34a !important;
    color: white !important;
}
.active-btn i, .active-btn span {
    color: white !important;
}